<ion-header>
  <ion-toolbar color="warning">
      <ion-title class="title">Odk Mobile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="login">
      <ion-card-header class="mycardheader">CONNEXION</ion-card-header>
      <ion-card-content>
        <ion-img [src]="image.odk"></ion-img>
        <ion-list class="input">
          <ion-item color="none">
            <ion-label class="input1" position="floating"><strong>login</strong> </ion-label>
            <ion-input class="input1" type="text" [(ngModel)]="login"></ion-input>
          </ion-item>
          <ion-item color="none">
            <ion-label class="input1" position="floating"> <strong>Password</strong></ion-label>
            <ion-input class="input1" type="password"[(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-list>


        <div>
          <ion-button expand="block" padding color="dark"(click)="processLogin()" >Se connecter</ion-button>
          <!--<ion-button expand="block" padding color="tertiary" fill="outline" (click)="formRegister()" >Creer un compte</ion-button>-->
        </div>
      </ion-card-content>
  </ion-card>
</ion-content>
